/* Browser reset */
*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 100%;

}
@font-face {
    font-family: "Inter" ;
    src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf');
}
/*css custom properties*/
:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
    --fs-base: 14px;
    --fs-large: 28px;

}
body {
    font-size: var(--fs-base);
    font-family: "Inter", sans-serif;
}
main {
    background-color: var(--Grey900);
min-height: 100vh;
/* centralize section */
display: flex;
justify-content: center;
align-items: center;
padding: 25px;

}
section{
background-color: var(--Grey800);
width: 400px;
min-height: fit-content;
border-radius: 15px;
padding: 28px;
/* centralize items in the section*/
text-align: center;

}
section > img {
width: 100px;
height: 100px;
object-fit: cover;
border-radius: 50%;
margin-top: 10px;
margin-bottom: 20px;
}
section > h1 {
    color: var(--White);
    font-size: var(--fs-large);
    margin-bottom: 10px;
    font-weight: 700;
}
section > .location{
    color: var(--Green);
    margin-bottom: 30px;
    font-weight: 600;
}
section > .quote {
color: var(--White);
margin-bottom: 25px;
}
.social-links > a {
display: block;
background-color: var(--Grey700);
padding: 15px 20px;
color: var(--White);
text-decoration: none;
margin-bottom: 20px;
border-radius: 8px;
font-weight: 600;
/*transition for hover*/
transition: all 350ms ease-in-out;
}
.social-links > a:hover {
    background-color: var(--Green);
    color: var(--Grey800);
}